
@{
    ViewBag.Title = "Forbidden";
}

<h1>Forbiddden</h1>

<p>Sorry, access to this page was not permitted. Press back on your browser to return to the previous page. In order to get access, please create an access request to be added
    to the Azure Active Directory groups.</p>

